<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
 </style>
</head>
<body style="text-align:center">



    <br />
    <br />
    <section class="mb-4">
        <!--Section heading-->
        <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1>
        <br />
        <!--Section description-->
        <h4 class="text-center w-responsive mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you with in
            a matter of hours to help you.
        </h4>
        <br />
        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 md-md-3 ">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" placeholder="Your name" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" placeholder="Your email" name="email" class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <br />
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" placeholder="Subject" name="subject" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <br />
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="message" placeholder="Your message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                </form>
                <br />
                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="myFunction()">Send</a>
                </div>

                <div class="popup" onclick="myFunction()">
                    <span class="popuptext" id="myPopup">we'll back to you soon!!</span>
                </div>

                <script>
                    // When the user clicks on div, open the popup
                    function myFunction() {
                        var popup = document.getElementById("myPopup");
                        popup.classList.toggle("show");
                    }
                </script>

                <div class="status"></div>
            </div>
            <div class="col-md-4 ">
                <p>
                    2019 is the year for chunky shoes and trainers, the chunkier the better. That's the rule when it comes to footwear.
                </p>
                <br />
                <p>
                    Benefits of wearing the latest trend is that, not only do they look great and update any outfit or plain white
                    t-shirt instantly but they are comfortable and supportive for our feet too.
                </p>
            </div>
        </div>
    </section>
    <!--Section: Contact v.2-->
    <!--video-->

</body>
</html>