@model TippyToe.Models.Shoes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Shoes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownList("Gender",
                                    new SelectList(Enum.GetValues(typeof(Gender))),
                                    "Select Gender",
                                    new { @class = "form-control" })
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                @Html.DropDownList("Style",
                                   new SelectList(Enum.GetValues(typeof(Style))),
                                   "Select Style",
                                   new { @class = "form-control" })
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="Image" class="control-label"></label>*@
                @Html.LabelFor(model =>model.Image,htmlAttributes: new { @class = "form-control" }) 
                <input type="file" name="Image" class="form-control" required/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                @Html.DropDownList("Color",
                                      new SelectList(Enum.GetValues(typeof(Color))),
                                      "Select Color",
                                      new { @class = "form-control" })
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

